<img src="http://vignette3.wikia.nocookie.net/legendsofthemultiuniverse/images/e/ee/Pikachu_cute_happy_jump.png/revision/latest?cb=20140701061658" class="image">
<% if logged_in? %>
  <h3 class="derecha">Bienvenido <%= current_user.user%></h3>
  <a href="/">Cerrar sesión</a>
<% end %>