<% if logged_in? %>
  <h1>Estas son todas tus encuestas</h1>
  <p>Dale click a alguna para editarla</p>
  <% if @surveys %>
    <% @surveys.each do |survey| %>
      <li><a href="/edit/survey/<%= survey.id%>"><%= survey.title %></a></li>
    <% end %>
  <% end %>
  <br>
  <hr>
  <a href="/surveys">Encuestas a contestar</a>
  <hr>
  <a href="/new_survey">Crear encuesta</a>
  <hr>
  <a href="/update">Editar perfil</a>
  <br>
  <hr>
  <a href="/delete">Borrar cuenta</a>
<% else %>
  <h1>No estas logeado</h1>
  <a href="/">Regresar</a>
<% end %>