<h1>Crea tu encuesta aqui</h1>
<form action="/new_survey" method="post">
  <label>Titulo de la encuesta</label>
  <input type="text" name="title" placeholder="Titulo">
  <label>Descripcion</label>
  <textareat name="description" plaholder="Descripcion de la encuesta"></textarea>
  <input type="submit" value="crear">
</form>