<form action="/new_user" method="post" id="new_user">
  <label>Nombre:</label><br>
  <input type="text" name="name" placeholder="Ingresa tu nombre"><br>
  <label>Email:</label><br>
  <input type="text" name="email"placeholder="Email"><br>
  <label>Contraseña:</label><br>
  <input type="password" name="pass" placeholder="contraseña"><br>
  <input type="submit" value="Login">
</form>
<a href="/">Regresar</a>